<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head>
<title>Source code</title>
<link rel="stylesheet" type="text/css" href="../stylesheet.css" title="Style">
</head>
<body>
<div class="sourceContainer">
<pre><span class="sourceLineNo">001</span>/**<a name="line.1"></a>
<span class="sourceLineNo">002</span> * ChessboardTest.java (May 25, 2017)<a name="line.2"></a>
<span class="sourceLineNo">003</span> *<a name="line.3"></a>
<span class="sourceLineNo">004</span> * GPLv3 --- Copyright (C) 2017<a name="line.4"></a>
<span class="sourceLineNo">005</span> *         - Dany Simone Efila,<a name="line.5"></a>
<span class="sourceLineNo">006</span> *         - Olivier Pirson --- http://www.opimedia.be/<a name="line.6"></a>
<span class="sourceLineNo">007</span> *<a name="line.7"></a>
<span class="sourceLineNo">008</span> * @author Dany Simone Efila<a name="line.8"></a>
<span class="sourceLineNo">009</span> * @author Olivier Pirson<a name="line.9"></a>
<span class="sourceLineNo">010</span> */<a name="line.10"></a>
<span class="sourceLineNo">011</span><a name="line.11"></a>
<span class="sourceLineNo">012</span>import static org.junit.Assert.assertFalse;<a name="line.12"></a>
<span class="sourceLineNo">013</span>import static org.junit.Assert.assertTrue;<a name="line.13"></a>
<span class="sourceLineNo">014</span><a name="line.14"></a>
<span class="sourceLineNo">015</span>import org.junit.Test;<a name="line.15"></a>
<span class="sourceLineNo">016</span><a name="line.16"></a>
<span class="sourceLineNo">017</span><a name="line.17"></a>
<span class="sourceLineNo">018</span>public class ChessboardTest {<a name="line.18"></a>
<span class="sourceLineNo">019</span>    static int[][] boxesEmpty1 = {{0}};<a name="line.19"></a>
<span class="sourceLineNo">020</span><a name="line.20"></a>
<span class="sourceLineNo">021</span>    static int[][] boxesEmpty2 = {{0, 0},<a name="line.21"></a>
<span class="sourceLineNo">022</span>                                  {0, 0}};<a name="line.22"></a>
<span class="sourceLineNo">023</span><a name="line.23"></a>
<span class="sourceLineNo">024</span>    static int[][] boxesEmpty3 = {{0, 0, 0},<a name="line.24"></a>
<span class="sourceLineNo">025</span>                                  {0, 0, 0},<a name="line.25"></a>
<span class="sourceLineNo">026</span>                                  {0, 0, 0}};<a name="line.26"></a>
<span class="sourceLineNo">027</span><a name="line.27"></a>
<span class="sourceLineNo">028</span><a name="line.28"></a>
<span class="sourceLineNo">029</span>    static int[][] boxesIndependence3 = {{2, 0, 0},<a name="line.29"></a>
<span class="sourceLineNo">030</span>                                         {3, 0, 0},<a name="line.30"></a>
<span class="sourceLineNo">031</span>                                         {0, 1, 0}};<a name="line.31"></a>
<span class="sourceLineNo">032</span><a name="line.32"></a>
<span class="sourceLineNo">033</span>    static int[][] boxesIndependence4 = {{1, 0, 0, 0},<a name="line.33"></a>
<span class="sourceLineNo">034</span>                                         {0, 1, 0, 0},<a name="line.34"></a>
<span class="sourceLineNo">035</span>                                         {0, 0, 3, 0},<a name="line.35"></a>
<span class="sourceLineNo">036</span>                                         {0, 0, 2, 3}};<a name="line.36"></a>
<span class="sourceLineNo">037</span><a name="line.37"></a>
<span class="sourceLineNo">038</span><a name="line.38"></a>
<span class="sourceLineNo">039</span>    static int[][] boxesDomination3 = {{1, 0, 2},<a name="line.39"></a>
<span class="sourceLineNo">040</span>                                       {0, 1, 0},<a name="line.40"></a>
<span class="sourceLineNo">041</span>                                       {0, 0, 3}};<a name="line.41"></a>
<span class="sourceLineNo">042</span><a name="line.42"></a>
<span class="sourceLineNo">043</span>    static Chessboard empty1 = new Chessboard(boxesEmpty1);<a name="line.43"></a>
<span class="sourceLineNo">044</span><a name="line.44"></a>
<span class="sourceLineNo">045</span>    static Chessboard empty2 = new Chessboard(boxesEmpty2);<a name="line.45"></a>
<span class="sourceLineNo">046</span><a name="line.46"></a>
<span class="sourceLineNo">047</span>    static Chessboard empty3 = new Chessboard(boxesEmpty3);<a name="line.47"></a>
<span class="sourceLineNo">048</span><a name="line.48"></a>
<span class="sourceLineNo">049</span><a name="line.49"></a>
<span class="sourceLineNo">050</span>    static Chessboard independence3 = new Chessboard(boxesIndependence3);<a name="line.50"></a>
<span class="sourceLineNo">051</span><a name="line.51"></a>
<span class="sourceLineNo">052</span>    static Chessboard independence4 = new Chessboard(boxesIndependence4);<a name="line.52"></a>
<span class="sourceLineNo">053</span><a name="line.53"></a>
<span class="sourceLineNo">054</span><a name="line.54"></a>
<span class="sourceLineNo">055</span>    static Chessboard domination3 = new Chessboard(boxesDomination3);<a name="line.55"></a>
<span class="sourceLineNo">056</span><a name="line.56"></a>
<span class="sourceLineNo">057</span><a name="line.57"></a>
<span class="sourceLineNo">058</span><a name="line.58"></a>
<span class="sourceLineNo">059</span>    @Test<a name="line.59"></a>
<span class="sourceLineNo">060</span>    public void empty1Test() {<a name="line.60"></a>
<span class="sourceLineNo">061</span>        System.out.println("empty1");<a name="line.61"></a>
<span class="sourceLineNo">062</span>        System.out.println(empty1);<a name="line.62"></a>
<span class="sourceLineNo">063</span><a name="line.63"></a>
<span class="sourceLineNo">064</span>        assertTrue(empty1.isIndependent());<a name="line.64"></a>
<span class="sourceLineNo">065</span>        assertFalse(empty1.isDominated());<a name="line.65"></a>
<span class="sourceLineNo">066</span>    }<a name="line.66"></a>
<span class="sourceLineNo">067</span><a name="line.67"></a>
<span class="sourceLineNo">068</span><a name="line.68"></a>
<span class="sourceLineNo">069</span>    @Test<a name="line.69"></a>
<span class="sourceLineNo">070</span>    public void empty2Test() {<a name="line.70"></a>
<span class="sourceLineNo">071</span>        System.out.println("empty2");<a name="line.71"></a>
<span class="sourceLineNo">072</span>        System.out.println(empty2);<a name="line.72"></a>
<span class="sourceLineNo">073</span><a name="line.73"></a>
<span class="sourceLineNo">074</span>        assertTrue(empty2.isIndependent());<a name="line.74"></a>
<span class="sourceLineNo">075</span>        assertFalse(empty2.isDominated());<a name="line.75"></a>
<span class="sourceLineNo">076</span>    }<a name="line.76"></a>
<span class="sourceLineNo">077</span><a name="line.77"></a>
<span class="sourceLineNo">078</span><a name="line.78"></a>
<span class="sourceLineNo">079</span>    @Test<a name="line.79"></a>
<span class="sourceLineNo">080</span>    public void empty3Test() {<a name="line.80"></a>
<span class="sourceLineNo">081</span>        System.out.println("empty3");<a name="line.81"></a>
<span class="sourceLineNo">082</span>        System.out.println(empty3);<a name="line.82"></a>
<span class="sourceLineNo">083</span><a name="line.83"></a>
<span class="sourceLineNo">084</span>        assertTrue(empty3.isIndependent());<a name="line.84"></a>
<span class="sourceLineNo">085</span>        assertFalse(empty3.isDominated());<a name="line.85"></a>
<span class="sourceLineNo">086</span>    }<a name="line.86"></a>
<span class="sourceLineNo">087</span><a name="line.87"></a>
<span class="sourceLineNo">088</span><a name="line.88"></a>
<span class="sourceLineNo">089</span><a name="line.89"></a>
<span class="sourceLineNo">090</span>    @Test<a name="line.90"></a>
<span class="sourceLineNo">091</span>    public void independence3Test() {<a name="line.91"></a>
<span class="sourceLineNo">092</span>        System.out.println("independence3");<a name="line.92"></a>
<span class="sourceLineNo">093</span>        System.out.println(independence3);<a name="line.93"></a>
<span class="sourceLineNo">094</span><a name="line.94"></a>
<span class="sourceLineNo">095</span>        assertTrue(independence3.isIndependent());<a name="line.95"></a>
<span class="sourceLineNo">096</span>        assertFalse(independence3.isDominated());<a name="line.96"></a>
<span class="sourceLineNo">097</span>    }<a name="line.97"></a>
<span class="sourceLineNo">098</span><a name="line.98"></a>
<span class="sourceLineNo">099</span><a name="line.99"></a>
<span class="sourceLineNo">100</span>    @Test<a name="line.100"></a>
<span class="sourceLineNo">101</span>    public void independence4Test() {<a name="line.101"></a>
<span class="sourceLineNo">102</span>        System.out.println("independence4");<a name="line.102"></a>
<span class="sourceLineNo">103</span>        System.out.println(independence4);<a name="line.103"></a>
<span class="sourceLineNo">104</span><a name="line.104"></a>
<span class="sourceLineNo">105</span>        assertTrue(independence4.isIndependent());<a name="line.105"></a>
<span class="sourceLineNo">106</span>        assertTrue(independence4.isDominated());<a name="line.106"></a>
<span class="sourceLineNo">107</span>    }<a name="line.107"></a>
<span class="sourceLineNo">108</span><a name="line.108"></a>
<span class="sourceLineNo">109</span><a name="line.109"></a>
<span class="sourceLineNo">110</span><a name="line.110"></a>
<span class="sourceLineNo">111</span>    @Test<a name="line.111"></a>
<span class="sourceLineNo">112</span>    public void domination3Test() {<a name="line.112"></a>
<span class="sourceLineNo">113</span>        System.out.println("domination3");<a name="line.113"></a>
<span class="sourceLineNo">114</span>        System.out.println(domination3);<a name="line.114"></a>
<span class="sourceLineNo">115</span><a name="line.115"></a>
<span class="sourceLineNo">116</span>        assertFalse(domination3.isIndependent());<a name="line.116"></a>
<span class="sourceLineNo">117</span>        assertTrue(domination3.isDominated());<a name="line.117"></a>
<span class="sourceLineNo">118</span>    }<a name="line.118"></a>
<span class="sourceLineNo">119</span><a name="line.119"></a>
<span class="sourceLineNo">120</span>}<a name="line.120"></a>




























































</pre>
</div>
</body>
</html>
